---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Godtgaaet from "../components/Godtgaaet.astro";
import { Image } from 'astro:assets';
import mand from "../assets/images/mand_der_sidder.png";
import Input from '../components/Input.astro';
import Textarea from '../components/Textarea.astro';
import Baggrund from "../components/Baggrund.astro";
---

<MainLayout title="Del dine resultater">
  <article>
    <section class="text-center py-16">
      <h1>TAK FORDI DU DELTOG!</h1>
      <h4>Del dit bidrag nedenfor</h4>
    </section>

    <Baggrund class="w-full">
      <section class="relative grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
          <!-- Mand der sidder -->
          <div>
            <Image src={mand} alt="Mand der sidder" class="w-1/4 md:w-1/2 h-auto mx-auto md:ml-48" />
          </div>
    
          <!-- Form -->
          <form class="mx-10 z-10">
            <Input id="antal-gb" label="Antal GB slettet" type="text" placeholder="GB" />
            <Input id="fornavn" label="Fornavn" type="text" placeholder="Fornavn"/>
            <Input id="efternavn" label="Efternavn" type="text" placeholder="Efternavn"/>
            <Input id="land" label="Land" type="text" placeholder="Land"/>
            <Input id="email" label="E-mail" type="email" placeholder="E-mail"/>
            <Textarea id="feedback" label="Hvad fik du ud af Digital Cleanup Day?" />

            <!-- Knap -->
            <div class="text-left mt-4">
              <Button variant="secondary">Indsend</Button>
            </div>
          </form>

      </section>
    </Baggrund>

    <!-- Godt gået component -->
    <div class="flex items-center justify-center w-auto md:w-1/3 mx-auto m-12">
      <Godtgaaet />
    </div>

  </article>
</MainLayout>
