---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import SavetheDate from "../components/SavetheDate.astro";
import { Image } from 'astro:assets';
import Dame from "../assets/images/saadan/dame.png";
import Mand from "../assets/images/saadan/mand.png";
import thumbsup from "../assets/images/thumbsup.png";
import Baggrund from "../components/Baggrund.astro";
import Accordion from "../components/Accordion.astro";
import Steps from "../components/Steps.astro";
import Pil from "../components/Pil.astro";
---

<MainLayout title="Sådan Gør Du">
    <section class="text-center mt-24">
        <h1>Sådan gør du!</h1>
        <h2 >Kan jeg som enkeltperson reelt gøre en forskel?</h2>
        <div class="flex justify-center mt-12 gap-4 md:gap-6">
            <h2 class="uppercase mt-4">Svaret er: </h2>
            <p class="uppercase font-black text-4xl md:text-6xl flex self-center pulsate-fwd text-[#072AAE]">Ja</p>
        </div>
    </section>
    <Pil></Pil>
    <div class="relative flex flex-row justify-end items-end">
        <Image src={Dame} alt="dame der taler i telefon" format="webp" class="w-[150px] absolute translate-y-[17rem] md:translate-y-[34rem] md:w-[250px]"></Image>
    </div>
    <Baggrund class="w-full">
        <section class="md:py-28 grid md:grid-rows-4 md:px-52 pt-36 pb-56 mx-10 md:mx-0">
        <article class="w-full md:max-w-3xl accordion1">
            <div>
                <Steps tal="1." overskrift="Ryd op på din smartphone!"/>
            </div>
            <Accordion summary="Smid ubrugte apps ud">
                <p>Vær frygtløs! Slet de glemte apps og spil, du aldrig bruger. De optager kun plads og dræner batteri med ligegyldige opdateringer.</p>
            </Accordion>
            <Accordion summary="Farvel til gamle konti">
                <p>Gamle konti og e-mails fra teenageårene? Ud med dem! Det giver din telefon et friskt pust og gør den hurtigere.</p>
            </Accordion>
            <Accordion summary="Ryd op i dine billeder">
                <p>Slet dubletter og ligegyldige billeder. Du kan frigøre flere gigabyte plads!</p>
            </Accordion>
        </article>
        <article class="w-full md:max-w-3xl pt-36 grid md:justify-self-end accordion2">
            <Steps tal="2." overskrift="Hard drive detox!" /> 
            <Accordion summary="Slet dubletter & ubrugelige filer">
                <p>Fjern alle filer, der er blevet overflødige, eller som ligger der to gange.</p>
            </Accordion>
            <Accordion summary="Ryd op i fotos & videoer">
                <p>Slet slørede billeder, dubletter, og videoer, du ikke længere har brug for.</p>
            </Accordion>
            <Accordion summary="Arkivér det vigtige">
                <p>Gem de filer, der betyder noget, og forbered dig på at finde sjove, glemte skatte!</p>
            </Accordion>
        </article>
        <article class="w-full md:max-w-3xl pt-36 accordion3">
            <Steps tal="3." overskrift="Mailboks makeover!"/>
            <Accordion summary="Arkivér & ryd ud">
                <p>Filter mails efter dato, arkivér de ældste, og slet de, du ikke længere har brug for.</p>
            </Accordion>
            <Accordion summary="Meld Dig Fra Nyhedsbreve">
                <p>Udmeld dig fra nyhedsbreve, du ikke læser, og slip af med lange samtaler, hvor du kun beholder den nyeste.</p>
            </Accordion>
            <Accordion summary="Søg & Slet i Massevis">
                <p>Find lignende mails ved at søge efter navne og ord, så du kan slette dem i én omgang. Vær modig og tryk på slet-knappen!</p>
            </Accordion>
        </article>
        <article class="w-full md:max-w-3xl pt-36 grid md:justify-self-end accordion4">
            <Steps tal="4." overskrift="Nye digitale vaner!"/>
            <Accordion summary="Drop ‘OK’ emails">
                <p>Brug coworking-platforme i stedet for at sende unødvendige mails. Stop med ‘ok’ og ‘tak’ beskeder!</p>
            </Accordion>
            <Accordion summary="Centralisér og vær bevidst">
                <p>Opbevar vigtige filer i én sky, så du ikke skal have dem på alle enheder. Tænk dig om før du sikkerhedskopierer – gem kun det, du virkelig behøver.</p>
            </Accordion>
            <Accordion summary="Skru ned for digitalt forbrug">
                <p>Sluk videoen under møder, skru ned for streamingkvaliteten, begræns spilletid, og brug mindre tid på sociale medier. Mænd på tilmeldingslister og nyhedsbreve for at mindske dit miljøaftryk!</p>
            </Accordion>
        </article>
        </section>
    </Baggrund>
    <div class="relative flex flex-row justify-start items-start">
        <Image src={Mand} alt="mand der taler i telefon" format="webp" class="w-[150px] lg:w-[300px] absolute -translate-y-[15rem] md:-translate-y-[47rem]"></Image>
    </div>
    <div class="relative flex flex-row justify-end items-end -translate-y-10 md:-translate-y-40 -z-10 pr-[100px] md:pr-[200px]">
        <Pil class="absolute"></Pil>
    </div>
    <section class="md:flex justify-center items-center grid gap-x-40 gap-y-10 pt-20 md:pt-0 mx-10 mb-28 bidrag">
        <p class="poppins font-bold text-5xl md:text-7xl text-[#0a1748] uppercase flex justify-center text-center">Tak for dit bidrag!</p>
        <div class="md:flex md:items-center">
            <Button variant="primary" size="large" class="">Del dine resultater</Button>
        </div>
    </section>
</MainLayout>

<style>
    .pulsate-fwd {
        -webkit-animation: pulsate-fwd 1s steps(2, start) 0.5s infinite both;
	    animation: pulsate-fwd 1s steps(2, start) 0.5s infinite both;
    }
</style>

<script>
    import { inView } from "motion";

	const accordion1 = document.querySelector(".accordion1");

	inView(accordion1, () => {
		accordion1.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.7s");
	});

	const accordion2 = document.querySelector(".accordion2");

	inView(accordion2, () => {
		accordion2.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.7s");
	});

	const accordion3 = document.querySelector(".accordion3");

	inView(accordion3, () => {
		accordion3.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.7s");
	});

	const accordion4 = document.querySelector(".accordion4");

	inView(accordion4, () => {
		accordion4.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.7s");
	});

	const bidrag = document.querySelector(".bidrag");

	inView(bidrag, () => {
		bidrag.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.7s");
	});

</script>

