<footer class="bg-[#0A1748] text-white py-8 px-8 md:px-20">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 items-end">
      
      <div class="text-left">
        <p class="mb-1">Let's Do It World NGO</p>
        <p class="mb-2">Roosikrantsi 3, TALLINN 10119, Estonia</p>
        <p class="mb-2">Reg. code - 80562203</p>
        <a href="mailto:digital@ldiw.org" class="text-[#DB901B] hover:underline">digital@ldiw.org</a>
      </div>
  
      <div class="text-left">
        <a href="#" class="block mb-2 hover:underline">Blog</a>
        <a href="#" class="block mb-2 hover:underline">Markedsføringsmateriale</a>
        <a href="#" class="block mb-2 hover:underline">Forfatning</a>
        <a href="#" class="block hover:underline">Join the movement</a>
      </div>

      <div class="flex justify-center md:justify-end space-x-6">
        <a href="#"><span class="text-[#DB901B]">Instagram</span></a>
        <a href="#"><span class="text-[#DB901B]">YouTube</span></a>
        <a href="#"><span class="text-[#DB901B]">Twitter</span></a>
        <a href="#"><span class="text-[#DB901B]">Facebook</span></a>
      </div>
  
    </div>
  </footer>
  