---
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import logo from "../assets/images/Digital_Cleanup_Day.webp";
---
<script src="https://cdn.tailwindcss.com"></script>

<article class="bg-[#0A1748]">
    <nav class="flex justify-between items-center px-8 py-4 bg-[#0A1748]">
        <!-- Logo -->
        <div class="mr-8">
            <Image src={logo} alt="Digital Cleanup Day" class="w-16 h-16" />
        </div>
        
        <!-- Navigation Links -->
        <div class="flex space-x-12">
            <a href="#" class="text-white text-base font-poppins font-normal hover:text-[#DB901B] transition">Sådan gør du</a>
            <a href="#" class="text-white text-base font-poppins font-normal hover:text-[#DB901B] transition">Ressourcer</a>
            <a href="#" class="text-white text-base font-poppins font-normal hover:text-[#DB901B] transition">Læringscenter</a>
            <a href="#" class="text-white text-base font-poppins font-normal hover:text-[#DB901B] transition">World Cleanup Day</a>            
        </div>

        <!-- Knap -->
        <Button class="primary medium">Del dine resultater</Button>

    </nav>
</article>

  <style>
         @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap');
        .font-bebas {
            font-family: 'Bebas Neue', cursive;
        }
        .font-poppins {
            font-family: 'Poppins', sans-serif;
        }
    </style>