---
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import logo from "../assets/images/Digital_Cleanup_Day.webp";
---

<div x-data="{ showmenu: false }" class="p-4 lg:static w-full bg-[#0A1748] text-white" >
    <div id="navbar" class="flex flex-row justify-between items-center">
        <div id="logo" class="m-4">
            </a><Image src={logo} alt="Digital Cleanup Day" class="w-16 h-16 mr-8"/></a>        
        </div>
        <nav id="desktopmenu" class="hidden lg:block mx-10 -ml-10">
            <ul class="flex flex-row gap-16">
                <li class=""><a href="/saadan" class="transition">Sådan gør du</a></li>
                <li class=""><a href="#" class="transition">Ressourcer</a></li>
                <li class=""><a href="#" class="transition">Læringscenter</a></li>
                <li class=""><a href="#" class="transition">World Cleanup Day</a></li>
            </ul>
        </nav> 
        <div class="hidden lg:block">
            <Button size="small"><a href="/del_dine_resultater">Del dine resultater</a></Button>
        </div> 
        <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" stroke-width="1.5" stroke="#DB901B" class="size-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" /></svg>
        </button>
    </div>
        <nav id="mobilmenu" class="flex flex-col content-center pt-4" 
        x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul>
            <li class="text-center py-2"><a href="/saadan" class="transition"><h5 class="text-white hover:text-[#DB901B]">Sådan gør du</h5></a></li>
            <li class="text-center py-2"><a href="#" class="transition"><h5 class="text-white hover:text-[#DB901B]">Ressourcer</h5></a></li>
            <li class="text-center py-2"><a href="#" class="transition"><h5 class="text-white hover:text-[#DB901B]">Læringscenter</h5></a></li>
            <li class="text-center py-2"><a href="#" class="transition"><h5 class="text-white hover:text-[#DB901B]">World Cleanup Day</h5></a></li>  
        </ul>
        <div class="flex justify-center items-center m-10 lg:hidden">
            <Button size="small"><a href="/del_dine_resultater">Del dine resultater</a></Button>
        </div> 
        </nav>
</div>